{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'point_history' %}

{% set mypageno = 'point_history' %}

{% block main %}
<div class="ec-mypageRole mypage-point-history">
    <div class="ec-mypageRole">
        <div class="ec-favoriteRole">
            {% if pagination.totalItemCount > 0 %}
                <div class="ec-favoriteRole__detail">
                    <ul class="ec-favoriteRole__itemList">
                        {% for pointHistory in pagination %}
                            {% set second = pointHistory.getVideoPointSetting.getSecond %}
                            {% set point = pointHistory.getVideoPointSetting.getPoint %}
                            {% set videoName = pointHistory.getVideo.getName %}
                            {% set videoId = pointHistory.getVideo.getId %}
                            {% set videoYoutubeId = pointHistory.getVideo.getVideoYoutubeId %}
                            {% set videoCategoryName = pointHistory.getVideo.getVideoCategory.getName %}
                            <li class="ec-favoriteRole__item">
                                <a class="ec-favoriteRole__itemThumb" href="{{ url('video_detail', {'id': videoId}) }}">
                                    <p class="ec-favoriteRole__item-image">
                                        <img src="https://img.youtube.com/vi/{{ videoYoutubeId }}/maxresdefault.jpg">
                                    </p>
                                </a>
                                <p class="ec-favoriteRole__itemTitle">{{  videoName }}</p>
                                <p class="ec-favoriteRole__itemTitle">{{  videoCategoryName }}</p>
                                <p class="ec-favoriteRole__itemTitle">ポイント: {{  point }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-pagerRole">
                    {% include "pager.twig" with {'pages': pagination.paginationData} %}
                </div>
            {% else %}
                <div class="ec-favoriteRole__header">{{ 'お気に入りは登録されていません。'|trans }}</div>
            {% endif %}
        </div>
    </div>

    <div class="ec-role row mt60">
        <div class="col-xs-8">
            <a href="{{ url('mypage') }}" class="mypage-back">{{ '我的帳號'|trans }}</a>
        </div>
    </div>

     </div>
    {% endblock %}