
{#
/*
 * This file is part of the ProductReview plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

{% import _self as stars %}

{# 星テキスト生成用マクロ #}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{ positive_stars[positive] }}{{ negative_stars[negative] }}
{% endmacro %}

{% block javascript %}
<script src="/html/template/default/assets/js/review.js"></script>
<script>
    $(function() {
        $('#new-review').appendTo($('#page_product_detail #item_info'));
    });
</script>
{% endblock %}

<!--▼レビューエリア-->

{% set positive_avg_star = ProductReviewAvg %}
{% set nagative_avg_star = 5 - positive_avg_star %}
<article id="new-review" class="info_item_review">
	<section id="new-review-page">
		
	{# <div><img src="/html/template/default/assets/img/review/review-func.jpg"></div> #}

	<div class="review-all-link">
		<a href="{{ url('product_review_list', {id: Product.id }) }}">
			<div class="arrow01" style="position:absolute;right:10px;top:50px;"></div>
			<p class="reviewtitle">
				<b>顧客評論</b>
				<div class="recommend_level">{{ stars.stars(positive_avg_star, nagative_avg_star) }}</div>
				<div>{{ ProductReviewCount }}條評價</div>
			</p>
		</a>
	</div>

	{% if PicProductReviews and PicProductReviews|length  > 0 %}
	<div class="review-all-link" style="border-top:none">
		<a href="{{ url('product_review_list', {id:Product.id, pic:1}) }}">
			<div class="arrow01" style="position:absolute;right:10px;top:50%;"></div>
			<p class="reviewtitle">
			<b>顧客評論</b>
			</p>
			<div class="row mt10 align-items-center">
				{% for PicReview in PicProductReviews %}
					<div class="col-xs-3"><img src="{{ PicReview.pic1 }}"></div>
				{% endfor %}
			</div>
		</a>
	</div>
	{% endif %}

	{% if ProductReviews %}
	
        {% for Review in ProductReviews %}
			{% set Product = Review.Product %}
			<div class="product_review_part">           
        
				<div class="review-box">
					<div class="recommend_name" style="margin-left:1em">
						<div class="icon-user"></div>
						{% set name = Review.reviewer_name %}
						{% if name|length >= 3 %}
							{% set hidden_name = name|slice(0, 1) ~ '＊＊＊' ~ name|slice(-1) %}
						{% elseif name|length == 2 %}
							{% set hidden_name = '＊' ~ name|slice(1, 1) %}
						{% elseif name|length == 1 %}
							{% set hidden_name = '＊' %}
						{% else %}
							{% set hidden_name = '' %}
						{% endif %}
						<span style="line-height: 1;font-size: 14px;">{{ hidden_name }}</span>
					</div>  

					<div class="recommend_star">
						{% set positive_star = Review.recommend_level %}
						{% set nagative_star = 5 - positive_star %}
						{{ stars.stars(positive_star, nagative_star) }}
						<span class="star-buy">在卡雅仕購買</span>

					</div>
					
					<div class="recommend_date">{{ Review.create_date|date_format('','Y/m/d') }}</div>
					
				</div>

				<div class="rebiew-box">
					<p class="review-title">{{ Review.title }}</p>
					<p class="review-comm">{{ Review.comment|nl2br }}</p>
				</div>

				<div class="review-box row">
					{% if Review.pic1 %}
					<div class="col-xs-3 review-user-img"><a href="{{ Review.pic1 }}" target="_blank" data-toggle="lightbox"><img src="{{ Review.pic1 }}"></a></div>
					{% endif %}

					{% if Review.pic2 %}
					<div class="col-xs-3 review-user-img"><a href="{{ Review.pic2 }}" target="_blank" data-toggle="lightbox"><img src="{{ Review.pic2 }}"></a></div>
					{% endif %}
					
					{% if Review.pic3 %}
					<div class="col-xs-3 review-user-img"><a href="{{ Review.pic3 }}" target="_blank" data-toggle="lightbox"><img src="{{ Review.pic3 }}"></a></div>
					{% endif %}
					
					{% if Review.pic4 %}
					<div class="col-xs-3 review-user-img"><a href="{{ Review.pic4 }}" target="_blank" data-toggle="lightbox"><img src="{{ Review.pic4 }}"></a></div>
					{% endif %}
				</div>

				<div class="review-bottom">
					<div class="review-ref-msg ref_msg{{Review.id}}" style="{% if Review.ref_count > 0 %} {% else %}display:none {% endif %}"><strong id="ref_count{{ Review.id }}" target="_blank" data-ref="{{ Review.ref_count }}">{{ Review.ref_count }}</strong>有人回覆說這對他們有幫助！</div>
					
					<div class="row">
						<div class="col-xs-6">
							{% if is_granted('ROLE_USER') and app.user %}
								{% if app.user.id in Review.getRefUsers() %}
									<button type="button" class="review-ref-button review-ref-pushed" disabled="disabled" data-rid="{{ Review.id }}"><span>有幫助！</span></button>                                
								{% else %}
									<button type="button" class="review-ref-button" data-rid="{{ Review.id }}"><span>有幫助！</span></button>
								{% endif %}
							{% else %}
								<a href="{{ url('mypage_login') }}" class="review-ref-button"><span>有幫助！</span></a>                                
							{% endif %}
					</div>
						<div class="col-xs-6 thank-btn-div" style="padding-top:7px">
							<button class="btn btn-secondary thank-btn" type="button">舉報違規</button>
							<span class="icon-thank-msg"><i class="bi bi-check"></i>感謝您提供反饋意見</span>
						</div>
				</div>

				<hr class="review-bar">
			</div>
        {% endfor %}     
		
		
{#
		<ul class="reviewbox">
			{% for ProductReview in ProductReviews %}
			<li>
				<div class="leftbox">
					{{ ProductReview.create_date|date_day }}<br>
					{{ 'product_review.front.product_detail.name'|trans({ '%name%': ProductReview.reviewer_name }) }}<br>
					{% set positive_star = ProductReview.recommend_level %}
					{% set nagative_star = 5 - positive_star %}
					<span class="recommend_level">{{ stars.stars(positive_star, nagative_star) }}</span><br>
				</div>
				<div class="rightbox">
					<p class="title">{{ ProductReview.title }}</p>
					<p>
						{{ ProductReview.comment|nl2br }}
					</p>
				</div>
			</li>
			{% endfor %}
		</ul>
        <ul class="reviewlistpagenation">
        {% for i in 1..ProductReviewPageCount %}
            {% if ProductReviewPage == i %}
            <li><a class="active" href="{{ url('product_detail', {'id': Product.id}) }}?page={{ i }}">{{ i }}</a></li>
            {% else %}
            <li><a href="{{ url('product_detail', {'id': Product.id}) }}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
#}
	{% else %}
		<p>{{ 'product_review.front.product_detail.no_review'|trans }}</p>
	{% endif %}
		<div class="review-morearea">
            <a href="{{ url('product_review_index', { id: Product.id }) }}" class="review-linebtn"><span>{{ 'product_review.front.product_detail.post_review'|trans }}</span></a>
		</div>
	</section>
</article>