{% set Products = repository('Plugin\\[code]\\Entity\\[code]Config').getNewProducts %}
{% set Config = repository('Plugin\\[code]\\Entity\\[code]Config').get %}

{% block stylesheet %}
<style>
    .uic-itemnew {
        margin-bottom: 40px;
    }
    .uic-itemnew .item-title a {
        color: #525263;
    }
    .uic-itemnew .price02-default {
        margin-top: 10px;
    }
    .uic-itemnew .item-description {
        margin-top: 10px;
        font-size: 14px;
    }
</style>
{% endblock %}

<!-- [code] -->
<div class="ec-role uic-itemnew">
    {% if Config.title %}
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ Config.title }}</span>
        </div>
    {% endif %}
    <div class="ec-secBody">
        {% if Products == null %}
            <p>商品は見つかりませんでした。</p>
        {% else %}
            {% for Product in Products %}
                <div class="ec-imageGrid">
                    <div class="ec-imageGrid__img">
                        <a href="{{ url('product_detail', {'id': Product.id}) }}">
                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="ec-imageGrid__content">
                        {% if Config.item_name == 0 %}
                            <p class="item-title">
                                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                    {{ Product.name }}
                                </a>
                            </p>
                        {% endif %}
                        {% if Config.item_price == 0 %}
                            <p class="price02-default">{{ Product.getPrice02IncTaxMax|price }}</p>
                        {% endif %}
                        {% if Config.item_description == 0 %}
                            <p class="item-description">{{ Product.description_list }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!-- /[code] -->