{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}{{ 'uc_slide_cbd.admin.config.title'|trans }}{% endblock %}
{% block sub_title %}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('uc_slide_cbd_admin_edit', { id : Image.id }) }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-toggle="tooltip" data-placement="top"
                                         title="Tooltip">
                                        <span class="card-title">{{ 'uc_slide_cbd.admin.config.edit_title'|trans }}</span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                       aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-2 control-label">{{ 'uc_slide_cbd.admin.config.label_img_url'|trans }}</label>
                                    <div class="col-5">
                                        {{ form_widget(form.img_url) }}
                                        {{ form_errors(form.img_url) }}
                                        <span class="text-muted small mt-1 d-block">{{ 'uc_slide_cbd.admin.config.message_path'|trans }}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 control-label">{{ 'uc_slide_cbd.admin.config.label_img_alt'|trans }}</label>
                                    <div class="col-5">
                                        {{ form_widget(form.img_alt) }}
                                        {{ form_errors(form.img_alt) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 control-label">{{ 'uc_slide_cbd.admin.config.label_link_url'|trans }}</label>
                                    <div class="col-5">
                                        {{ form_widget(form.link_url) }}
                                        {{ form_errors(form.link_url) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('uc_slide_cbd_admin_config') }}"><i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'uc_slide_cbd.admin.config.conversion.top'|trans }}</span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'uc_slide_cbd.admin.config.conversion.save'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock main %}
