{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '新會員註冊（临时注册完成）'|trans }}</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <div class="ec-reportHeading">
                    <h2>{{ '感谢您注册成为会员'|trans }}</h2>
                </div>
                <p class="ec-reportDescription">{{ '我目前是临时会员。我们现已向您输入的电子邮件地址发送了一封电子邮件以确认您的身份。
单击电子邮件正文中的 URL 即可完成您的会员注册。
'|trans|nl2br }}</p>
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ '首页'|trans }}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}