{% block javascript %}
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.getElementById('{{ modal_id }}');
        document.body.appendChild(modal);

        $('#{{ modal_id }}').on('show.bs.modal', function() {
            document.body.appendChild(modal);
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const submitPasswordBtn = document.getElementById('submit-password');
        const passwordInput = document.getElementById('password-input');

        submitPasswordBtn.addEventListener('click', function() {
            const enteredPassword = passwordInput.value;
            if (enteredPassword == '') {
                alert('請輸入密碼以查看此頁面。');
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '{{ url('admin_mlog_signin') }}',
                    data: {
                        password: enteredPassword
                    },
                    success: function(data) {
                        if(data.status == 'success'){
                            window.location.reload();
                        }else{
                            alert('密碼錯誤。');
                        }
                    }
                });
            }
            
            
        });
    });

</script>
{% endblock javascript %}
{% block main %}
<button class="btn btn-ec-conversion d-none login_mlog" data-toggle="modal" data-target="#{{ modal_id }}" >{{ 'admin.common.login'|trans }}</button>
<div class="modal fade cost-management" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">進入董事會日報。</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <label for="password-input">請輸入您的密碼。</label>
                <input type="password" class="form-control" id="password-input" placeholder="密碼">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit-password">OK</button>
        
            </div>
        </div>
    </div>
</div>
{% endblock %}